version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/crates/ves-stark-nodejs"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/crates/ves-stark-python"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

